In [2]:
a = input('Moi nhập vào: ')
print(len(a))

Moi nhập vào: thuan
5

In [8]:
n = int(input())
ma_tran = []
for i in range(0, n):
   ma_tran_con = []
   for j in range(0, n):
      ma_tran_con.append(int(input()))
   ma_tran.append(ma_tran_con)
print(ma_tran)
print(ma_tran[-2][-2])

3
1
2
3
4
5
6
7
8
9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
5

In [4]:
mang = [4,5,7,9,10]
print(mang[-2])

9

In [6]:
for i in reversed(range(10)):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [10]:
dict5 = dict([(1,'QTM')])
type(dict5)

dict

In [40]:
print(ord('a'), end=', ')
print(chr(97))

97, a

In [41]:
ascii(25)

'25'

In [42]:
print('\ta\tb')

	a	b

In [48]:
round(-1.5)

-2

In [49]:
a = [2,3,'toi']
type(a)

list

In [67]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letter = [2, 3]
print(letters - letter)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [65]:
print("hel\"lo")

hel"lo

In [68]:
type(3.1415)

float

In [69]:
diem_tb = '7' + 2

TypeError: Can't convert 'int' object to str implicitly

In [70]:
dap_so = input("Nhap ket qua cua ban: ")
print("Ket qua cua ban la: " + dap_so)

Nhap ket qua cua ban: 2
Ket qua cua ban la: 2

In [71]:
print("Nam nay toi" + 17 + "tuoi")

TypeError: Can't convert 'int' object to str implicitly

In [72]:
"Lop hoc Python nam 2017! ".isalnum()

False

In [74]:
def 2nam (a):
    return a+1
2nam(6)

SyntaxError: invalid syntax (<ipython-input-74-f1a2c33ede7e>, line 1)

In [75]:
thu = "thu hai"
if thu.capitalize() == "Thu Hai":
    print("La ngay dau tuan!")
else:
    pass

In [77]:
time = 3
while True:
    print('Hour:', time)
    if time == 3:
        time = 4
    else:
        break

Hour: 3
Hour: 4

In [79]:
nam = 5
NAm = 6
print(nam)
print(NAm)

5
6

In [80]:
(2+3)**2

25

In [81]:
print(3 >= 3)

True

In [82]:
i=0
def change(i):
   i=i+1
   return i
change(1)
print(i)

0

In [83]:
if (9 < 0) and (0 < -9):
    print("hello")
elif (9 > 0) or False:
    print("good")
else:
    print("bad")

good

In [84]:
print(chr(ord('A')))

A

In [92]:
n = int(input())
def f(n):
    if (n < 2):
        return False;
    for i in range(2,n):
        if (n%i == 0):
            return False;
    return True;

for j in range(n-1,1,-1):
    if (f(j)):
        break;
print(j)

12
11

In [108]:
a = int(input())
b = int(input())
def ucln(a,b): 
  if (a<b): 
      return ucln(b,a) 
  while (b!=0):
    r = a%b 
    a=b
    b=r
  return a
print(a*b//ucln(a,b))

6
5
6
5
30

In [1]:
x = 'thuan 23'
for i in x:
    if i.isdigit():
        print(type(i))

<class 'str'>
<class 'str'>

In [122]:
a = input()
mang = []
for i in a :
    mang.append(int(i))
max = 0
max_tam = 0
for i in mang:
    if i == 0:
        if max_tam > max :
            max = max_tam
        max_tam = 0
    else:
        max_tam += 1
if max_tam > max:
        max = max_tam
print(max)

01101011111000111
5

In [ ]:
n = int(input())
row = []
col = []
for i in range(n):
   row.append(int(input()))
   col.append(int(input()))
dem = 0   
for i in range(0,8):
    if (i in row) == False:
        for j in range(0,8):
            if (j in col) == False:
                dem += 1
print(row)
print(col)
print(dem)

In [ ]:
n = 0
n == 1